<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>My Awesome Static Website</title>

    {% stylesheet app %}
</head>
<body>
  <h3><a href="{{ post.url }}">{{ page.title }}</a></h3>
  <p>
    <small>
      <strong>{{ page.date | date: "%B %e, %Y" }}</strong>
      {{ page.category }}
      {% if page.comments %}
        <a href="//{{ page.url | prepend: site.baseurl }}#disqus_thread">
          0 Comments
        </a>
      {% endif %}
    </small>
  </p>

  <div id="main">
    {{ content }}
  </div>

  {% include disqus.html %}

  {% javascript app %}
  <script id="dsq-count-scr" src="//{{ site.env.DISQUS_SITE }}.disqus.com/count.js" async></script>
</body>
</html>