<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>My Awesome Static Website</title>

    <!-- include css -->
    {% stylesheet app %}

</head>
<body>

    <h3><a href="{{ post.url }}">{{ page.title }}</a></h3>
    <p>
      <small>
        <strong>{{ page.date | date: "%B %e, %Y" }}</strong>
        {{ page.category }}
      </small>
    </p>

  <div id="main">
    {{ content }}
  </div>

  <!-- include javascript -->
  {% javascript app %}

</body>
</html>